@mixin generateIcon($src) {
    -webkit-mask-image: url($src);
    mask-image: url($src);
  }
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
  }
  
  .icon-arrow-right {
    @include generateIcon(
      'https://api.iconify.design/ic/baseline-arrow-forward-ios.svg'
    );
  }
  
  .icon-arrow-top {
    @include generateIcon(
      'https://api.iconify.design/ic/baseline-keyboard-arrow-up.svg'
    );
  }
  
  .icon-youtube {
    @include generateIcon('https://api.iconify.design/basil/youtube-solid.svg');
  }
  
  .icon-twitter {
    @include generateIcon('https://api.iconify.design/mdi/twitter.svg');
  }
  
  .icon-select {
    @include generateIcon('https://api.iconify.design/material-symbols/gesture-select.svg')
  }

  .icon-plus {
    @include generateIcon('https://api.iconify.design/mdi/plus.svg')
  }

  .icon-arrow-up {
    @include generateIcon('https://api.iconify.design/ph/arrow-up-light.svg')
  }

  .icon-child {
    @include generateIcon('https://api.iconify.design/clarity/child-arrow-line.svg')
  }

  .icon-trash {
    @include generateIcon('https://api.iconify.design/mdi/trash-outline.svg')
  }

  .icon-copy {
    @include generateIcon('https://api.iconify.design/material-symbols/copy-all-sharp.svg');
  }
  
  .icon-cut {
    @include generateIcon('https://api.iconify.design/material-symbols/cut.svg');
  }
  
  .icon-paste {
    @include generateIcon('https://api.iconify.design/material-symbols/content-paste.svg');
  }

  .icon-add-widget {
    @include generateIcon('https://api.iconify.design/solar/widget-add-outline.svg')
  }
  
  .icon-marker {
    @include generateIcon('https://api.iconify.design/clarity/map-marker-line.svg')
  }

  .icon-line {
    @include generateIcon('https://api.iconify.design/uil/line-alt.svg')
  }